<div class="c-weatherapp__results">
	<div class="c-weatherapp__results--text" id="statusMessage">
	</div>
	<div class="c-weatherapp__results--table o-tabs">
		<table class="o-tabs__table">
			<thead>
				<tr class="o-tabs__head">
					<th>City</th>
					<th>Long</th>
					<th>Lat</th>
					<th>Degree</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{City}}</td>
					<td>{{Long}}</td>
					<td>{{Lat}}</td>
					<td>{{Degree}}</td>
					<td>{{Description}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>